* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #1e1e1e;
    font-size: 125%;
    height: 100%;
    width: 100%;
}

body {
    overflow-y: hidden;
}

body > main {
    color: #676867;
    margin: 0 auto;
    max-width: 800px;
}

body > main > div {
    display: flex;
}

body > main > div:first-child > div {
    margin-top: 0.5em;
}

body > main > div > div {
    margin: 0.5em;
    margin-top: 0;
    padding: 0.5em 1em;
}

body > main > div.computer div,
body > main > div.human div {
    background-color: #282a2e;
    border-radius: 3px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    max-width: 70%;
}

body > main > div.computer {
    color: #a6e22e;
    justify-content: flex-start;
}

body > main > div.human {
    color: #66d9ef;
    justify-content: flex-end;
}

body > main > div.info {
    justify-content: flex-start;
}

body > main > div.info > div {
    padding: 0;
}

#color-palette {
    color: #1e1e1e;
    color: #282a2e;
    color: #676867;
    color: #f92672;
    color: #fd971f;
    color: #a6e22e;
    color: #66d9ef;
    color: #ae81ff;
}
